$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

////////////////////////////////////////////////////////////////////////
// Définitions des imports
////////////////////////////////////////////////////////////////////////

@import "grids.scss";
@import "mixins.scss";
@import "type.scss";
@import "variables.scss";

/* Put your CSS here */
html, body {
  background: $gray-lighter;
}

body {
  font-family: $body-font-family;
}

.danger {
  color: $danger;
}
.success {
  color: $success;
}

.table-calendar {
  > tbody {
    > tr:nth-child(odd) {
      > td,
      > th {
        background-color: $week-background-odd;
      }
    }
    > tr:nth-child(even) {
      > td,
      > th {
        background-color: $week-background-even;
      }
    }
  }
}
// tr.week {
//   td {
//     background-color: green;
//   }
// }

.month {
    // > section:nth-child(even) {
    //   background-color: $day-background-even;
    // }
    // > section:nth-child(odd) {
    //   background-color: $day-background-odd;
    // }
}

.day {
  background-color: $day-background;
  border: 1px solid gray;
  // border-right: 2px solid black;
  font-size: 12px;
  // background-color: green;
  height: 200px;
  margin: 4px;
  padding: 4px;
  width: 20%;
  float: left;
  time {
    color: black;
    // margin: 20px;
  }
}

.element-drag {
  @include element-drag($topic-drag-shadow-color);
}

.element-drop-success {
  @include element-drop(green);
}

.element-drop-failure {
  @include element-drop(red);
}

ul.list-document {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  li {
    background-color: whiteSmoke;
    margin: 5px 0 5px 0;
    padding: 5px 5px 0 5px;
    border: 1px solid gray;
  }
  // li:nth-child(even) {
  //   background-color: $list-light-even-background-color;
  //   border-left: $list-light-border-size solid $list-light-even-border-color;
  // }
  // li:nth-child(odd) {
  //   background-color: $list-light-odd-background-color;
  //   border-left: $list-light-border-size solid $list-light-odd-border-color;
  // }
}
ul.list-box {
  height: 300px;
  overflow: scroll;
}

ul.list-topic {
  li {
    // background-color: whiteSmoke;
    border: 1px solid gray;
    margin: 5px 0 5px 0;
    padding: 10px;
  }
  // li:nth-child(even) {
  //   background-color: $list-light-even-background-color;
  //   border-left: $list-light-border-size solid $list-light-even-border-color;
  // }
  // li:nth-child(odd) {
  //   background-color: $list-light-odd-background-color;
  //   border-left: $list-light-border-size solid $list-light-odd-border-color;
  // }

  p.scheduling {
    width: 50%;
    float: left;
    padding: 0 4px 0 4px;
  }
}

// .label-category-1 {
//   @include label-variant(green);
// }
.category-1 {
  @include category-variant(green);
}
// .label-category-1 {
//   @include label-variant(green);
// }
.category-2 {
  @include category-variant(purple);
}

.display-list {
  .detail {
    display: none;
  }
}
.display-mini {
  .detail {
    display: block;
  }
}

.dragobject {
  border: 1px dashed gray;
  color: gray;
  padding: 5px;
}

.hidden {
  display: none;
}

.dropzone {
  border: 1px dashed gray;
  color: gray;
  padding: 5px;
}





