
<section class="">
  <div class="row">
    <section class="col-sm-4">
    <div class="well well-complementary">
      <!-- formulaire de recherche -->
      <form name="searchForm" class="form-horizontal">
        <input type="text" ng-model="search" class="form-control" placeholder="Rechercher ..." autofocus>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="topic.isScheduled" value="option1" ng-init="topic.isScheduled=true">
              <i class="icon-calendar-empty danger"></i> Non programmée uniquement
            </input>
          </label>
        </div>
      </form>
    </div>
      <ul class="list-unstyled list-topic">
        <li ng-repeat="topic in topics | filter : search | filter : '!'+topic.isScheduled" drag="topic">
          <i ng-show="topic.isScheduled" class="icon-calendar success"></i>
          <i ng-show="!topic.isScheduled" class="icon-calendar-empty danger"></i>
          {{topic.title}} - {{topic.author}}
        </li>
      <ul>
    </section>
    <section class="col-sm-8">
      <h1>janvier</h1>
      <table class="table table-calendar">
        <thead>
          <tr>
            <th># Semaine</th>
            <th>lundi</th>
            <th>mardi</th>
            <th>mercredi</th>
            <th>jeudi</th>
            <th>vendredi</th>
            <th>samedi</th>
            <th>dimanche</th>
          </tr>
        </thead>
        <tbody>
          <tr class="week">
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
          </tr>
          <tr class="week">
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
          </tr>
          <tr class="week">
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
            <td><div class="day">jh kh</div></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</section>