
<section class="">
  <div class="row">
    <section class="col-sm-4">
      <div class="well well-complementary">
        <p>Source de la recherche</p>
        <!-- formulaire de critères de sources dynamiques -->
        <form name="searchForm" class="form-horizontal">
          <div ng-repeat="source in sources" class="checkbox">
            <label>
              <input type="checkbox" ng-model="source.selected">
                <i class="{{source.icon}}"></i>
                {{source.name}}
              </input>
            </label>
          </div>
        </form>
      </div>
    </section>
    <section class="col-sm-8">
      <div class="row">
        <div class="col-sm-4">
          <form name="displayForm" class="form-horizontal">
            Affichage
            <div class="radio">
              <label>
                <input type="radio" ng-model="display" value="display-list">
                Liste
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="display" value="display-mini">
                Miniature
              </label>
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <form name="sortForm" class="form-horizontal">
            Groupement
            <div class="radio">
              <label>
                <input type="radio" ng-model="group" value="global">
                Général
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="group" value="source">
                Par source
              </label>
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <form name="sortForm" class="form-horizontal">
            Tri
            <div class="radio">
              <label>
                <input type="radio" ng-model="sort" value="created">
                Date
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="sort" value="relevance">
                Pertinence
              </label>
            </div>
          </form>
        </div>
      </div>
      <hr/>


        <ul class="list-unstyled list-document">

          <li ng-repeat="document in documents | groupFilter:sources | orderBy:sort:!reverse" class="list {{display}}">
            <div class="row">
              <div class="col-sm-8">
                <i class="{{document.source | iconFilter:sources}}"></i>
                {{document.title}}
              </div>
              <div class="col-sm-2">
                {{document.created | date:'shortDate'}}
              </div>
              <div class="col-sm-2 text-align-right">
                {{document.relevance}}
              </div>
            </div>
            <div class="detail">
              TEST
            </div>
          </li>
        </ul>



    </section>
  </div>
</section>