
<section class="">
  <div class="row">
    <section class="col-sm-4">
      <div class="well well-complementary">
        <h4>Source de la recherche</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="dropavailable">
              Permettre la réorganisation
            </input>
          </label>
        </div>
        <!-- formulaire de critères de sources dynamiques -->
        <form name="sourceForm" class="form-horizontal">
          <div ng-repeat="source in sources" class="checkbox" dragsource data-index="{{$index}}">
            <div class="dropzone" dropsource dropStyle="element-drop" data-index="{{$index}}" ng-show="dropavailable">
              Déposer ici
            </div>
            <label>
              <input type="checkbox" ng-model="source.selected">
                <i class="{{source.icon}}"></i>
                {{source.name}}
              </input>
            </label>
          </div>
        </form>
      </div>
    </section>
    <section class="col-sm-8">
      <div class="row">
        <div class="col-sm-4">
          <form name="displayForm" class="form-horizontal">
            <h4>Affichage</h4>
            <div class="radio">
              <label>
                <input type="radio" ng-model="display" value="display-list">
                Liste
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="display" value="display-mini">
                Miniature
              </label>
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <form name="sortForm" class="form-horizontal">
            <h4>Groupement</h4>
            <div class="radio">
              <label>
                <input type="radio" ng-model="group" value="global">
                Général
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="group" value="source">
                Par source
              </label>
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <form name="sortForm" class="form-horizontal">
            <h4>Tri</h4>
            <div class="radio">
              <label>
                <input type="radio" ng-model="sort" value="created">
                Date
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="sort" value="relevance">
                Pertinence
              </label>
            </div>
          </form>
        </div>
      </div>
      <hr/>
      <form name="textForm" class="form-horizontal">
        <input type="text" ng-model="texttosearch" class="form-control" placeholder="Rechercher ..." autofocus>
      </form>
      <hr/>
      <section ng-repeat="source in sources | sourceSelectedFilter" ng-show="group == 'source'">
        <h4>
          <i class="{{source.name | iconFilter:sources}}"></i>
          {{source.name}} - {{(documents | groupFilter:source.name).length}} résultat(s)
        </h4>
        <ul class="list-unstyled list-document list-box">
          <li ng-repeat="document in documents | groupFilter:source.name | filter:texttosearch | orderBy:sort:!reverse" class="list {{display}}">
            <p>
              <i class="{{document.source.type | iconFilter:sources}}"></i>
              <span ng-bind-html-unsafe="document.title | highlight:texttosearch"></span>
            </p>
            <p>
              <date ng-bind-html-unsafe="document.created | date:'shortDate' | highlight:texttosearch"></date>
              -
              <span ng-bind-html-unsafe="document.relevance | highlight:texttosearch"></span>
            </p>
            <p class="detail" ng-bind-html-unsafe="document.content | highlight:texttosearch"></p>
          </li>
        </ul>
      </section>
      <section ng-show="group == 'global'">
        <h4>{{(documents | sourceFilter:sources | filter:texttosearch).length}} résultat(s)</h4>
        <ul class="list-unstyled list-document">
          <li ng-repeat="document in documents | sourceFilter:sources | filter:texttosearch | orderBy:sort:!reverse" class="list {{display}}">
            <p>
              <i class="{{document.source.type | iconFilter:sources}}"></i>
              <span ng-bind-html-unsafe="document.title | highlight:texttosearch"></span>
            </p>
            <p>
              <date ng-bind-html-unsafe="document.created | date:'shortDate' | highlight:texttosearch"></date>
              -
              <span ng-bind-html-unsafe="document.relevance | highlight:texttosearch"></span>
            </p>
            <p class="detail" ng-bind-html-unsafe="document.content | highlight:texttosearch"></p>
          </li>
        </ul>
      </section>
    </section>
  </div>
</section>